    <h2> Bienvenido a Quantum Radio!</h2>
<br>
<p align='left'>
En Quantum Radio, hay entretenimiento e información para todos!
</p>
<br>
<p align='left'>
Tabla de contenidos!
</p>
<br>
<table>
<tr>
<th> programa</th>
<th> conductor</th>
<th> hora / día</th>
<th> Comunícate con nosotros</th>
</tr>
<tr>
<td> Sábado Profundo 9 </td>
<td> franco spagnoli</td>
<td> Sábado a las 10 pm (Argentina) </td>
<td><a href='https://api.whatsapp.com/send?phone=5493624357497'> Envía un mensaje por Whatsapp </a>
</tr>
</table>
<br>

<audio ontimeupdate="document.getElementById('progress1').innerHTML=calcular(this.currentTime)+'/'+calcular(this.duration);" id="reproductor1">
<source src='https://stream.zenolive.com/kdhptpb931zuv.aac' type='audio/aac'>
</audio>
<button onclick="document.getElementById('reproductor1').play();">Reproducir</button>
<br>
<button onclick="document.getElementById('reproductor1').pause();">Pausar</button>
<br>
<button onclick="document.getElementById('reproductor1').stop();">Detener</button>
<br>
<button onclick="document.getElementById('reproductor1').volume+=0.09;">Subir volumen</button>
<br>
<button onclick="document.getElementById('reproductor1').volume-=0.09;">Bajar volumen</button>
<br>
<button onclick="document.getElementById('reproductor1').muted=true;">Silenciar</button>
<br>
<button onclick="document.getElementById('reproductor1').muted=false;">Quitar silencio</button>

<font face='Times New Roman' color='black' size=3>
<p align="left"> Copyright © 2020
<br>
Franco Spagnoli™
<br>
Todos los derechos reservados.
</p>