  <script type="text/javascript" src='assets/js/saludo.js'></script>
  <br>
  <script type="text/javascript" src='assets/js/reloj.js'></script>
  <script type="text/javascript" src='assets/js/visit.js'></script>
<br>
<nav class="navbar navbar-default" role="navigation">
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#mainMenu"
aria-controls="mainMenu" aria-expanded="false" aria-label="Mostrar el menú principal">
      <span class="icon-bar"></span></button>
  <div class="collapse navbar-collapse navbar-ex1-collapse" id="mainMenu">
  <ul class="nav navbar-nav">
        <li class="active"><a href="#">Enlace #1</a></li>
<li><a href="#">Enlace #2</a></li></ul>
</div></nav>
<br>
<div id="mainContent">
<p align="left">
    Bienvenido a mi blog! Acá hay de todo un poco! Desde posts con apps, hasta una radio interesante formada en su totalidad por internautas que andan volando por internet!</p>
    <br>
    <p align="right">
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.spagnoli.droppages.com" target="_blank">Comparte esta página en Facebook</a></p>
    <br>
    <p align="right">
        <a href="https://twitter.com/intent/tweet?text=Visita%20el%20blog%20de%20Frank!%20Entretenimiento,%20m%C3%BAsica%20e%20informaci%C3%B3n%20en%20spagnoli.droppages.com"> Comparte en Twitter!</a></p></div>